{% load staticfiles %}


<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src='{% static 'bower_components/material-design-lite/material.min.js' %}'></script>
<script type="text/javascript" src='{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}'></script>

<!-- <script type="text/javascript" src='{% static 'bower_components/bootstrap-table/dist/bootstrap-table.min.js' %}'></script> -->

<!-- Angularjs -->
<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.min.js' %}"></script>

<!-- <script type="text/javascript" src='{% static 'bower_components/angular-smart-table/dist/smart-table.min.js' %}'></script> -->

<script type="text/javascript" src="{% static 'bower_components/underscore/underscore-min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/md-snackbars/dist/md-snackbars.min.js' %}"></script>



<script type="text/javascript" src="{% static 'js/gsis.js' %}"></script>

<script type="text/javascript" src="{% static 'js/gsis.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/gsis.routes.js' %}"></script>

<script type="text/javascript" src="{% static 'js/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils/snackbar.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils/tables.service.js' %}"></script>

<script type="text/javascript" src="{% static 'js/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/controllers/login.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'js/grupo/grupo.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/grupo/services/grupo.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/grupo/controllers/grupo.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/grupo/controllers/novo-grupo.controller.js' %}"></script>

